<div>
    <div *ngIf="message" class="red-text">{{message}}</div>
    <div>
        <label for="new-hero">Mothers give birth across </label>
        <input id="new-hero" #fertilityWindow [defaultValue]="params.fertilityWindow"
            (change)="inputParam('fertilityWindow', _parseInt(fertilityWindow.value))"/> years.
    </div>
    <div>
        <label for="new-hero">On average, mothers birth </label>
        <input id="new-hero" #kidsTotal [defaultValue]="params.kidsTotal"
            (change)="inputParam('kidsTotal', _parseInt(kidsTotal.value))"/> children.
    
    </div>
    <div>
        <label for="new-hero">The median choson is </label>
        <input id="new-hero" #mAge [defaultValue]="params.mAge" (change)="inputParam('mAge', _parseInt(mAge.value))"/> years old.
    </div>
    <div>
        <label for="new-hero">The median kallah is </label>
        <input  id="new-hero" 
            #fAge 
            [defaultValue]="params.fAge" 
            (change)="inputParam('fAge', _parseInt(fAge.value))"/> years old.

    </div>
    <div>
        <label for="new-hero"></label>
        <input id="new-hero" #mOtd [defaultValue]="params.mOtd"
            (change)="inputParam('mOtd', _parseInt(mOtd.value))"/>% of bochurim go otd.
      
    </div>
    <div>
        <label for="new-hero"></label>
        <input id="new-hero" #fOtd [defaultValue]="params.fOtd"
            (change)="inputParam('fOtd', _parseInt(fOtd.value))"/>% of women go otd.
      
    </div>
</div>
<nav>
    <div class="button-container">
        <button type="button" class="add-button" (click)="calculate(this.params)">
            Submit
        </button>
    </div>
</nav>

<div *ngIf="leftoverRate || leftoverRate === 0">
    <h4>{{formatRate(leftoverRate)}} % of women in this cohort don't have a male counterpart</h4>
</div>